/*star rating */
.rating{
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 5px;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

.rating .filled {
    color: #21568b;
}
/*end star rating*/
/*=====================================*/


/*angular carousel*/
.info-container{
    position:absolute;
}

.slider-item >img{
    display: inline !important;
    padding-top: 30px;;
}
.comics-character-Hulk{
    background-color:#e74c3c ;
    text-align: left;
}
.comics-character-Hulk .info-container{
    right: 200px;
    top: 100px;
    color: #006600;
}
.comics-character-Spiderman{
    background-color:#000d1a ;
    text-align: right;

}
.comics-character-Spiderman >img{
    display: inline !important;
}

.comics-character-Batman{
    background-color:#339966 ;
    text-align: center;
}
.comics-character-Batman >img{
    display: inline !important;
}
.comics-character-Superman{
    background-color:#008000 ;
}
.comics-character-Superman >img{
    display: inline !important;
}
.comics-character-Joker{
    background-color:#ff3399 ;
}
.comics-character-Joker >img{
   display: inline !important;
}
/*end angular carousel*/

/*==================================================*/

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.btn-facebook{
    background-color: #3b5998;
    border-bottom: 2px solid #3b5998;
    color: #fff;
    margin-top: -18px;
}
.btn-facebook:hover{
    color: #fff;
    border-bottom: 2px solid #29487d;
}
.img-center{
    margin:0 auto;
}
.character-view-wrapper{
    border:1px solid #24478f;
}
.character-info{
    padding: 20px;
}
.character-view{
    background-color:  #24478f;
    padding: 25px 10px;
    position: relative;
}
.character-view:before{
    content: "\f0da";
    position: absolute;
    font-family: FontAwesome;
    font-size: 70px;
    color: #24478f;
    right:-22px;
    top: 20px;
}

.character-view h2,
.character-view h3{
    color:#fff;

}
.info-container{
    padding-left: 20px;
}

.info-head{
    padding: 16px;
    border-bottom: 2px solid #24478f;
}
.rnd-8{
    border-radius: 8px;
}
.btn-160{
    width: 160px;
}

.fs-60{
    font-size: 60px;
}
.fs-20{
    font-size: 20px;
}
.gold{
    color: goldenrod;
}
.user-nav{
    background-color: transparent !important;
    margin-top: -5px;

}

.character-info >.info{
    /*border-top: 1px solid #FF3300;*/
    border-top: 1px solid black;
    text-align: left;
    padding: 10px;
    color: black;
}

.character-box{
    background-image: linear-gradient(to bottom right,#0066FF,#009933);
    background-image: linear-gradient(to bottom right,#31353e,#e74c3c);
    background-image: linear-gradient(to bottom ,#e74c3c,#31353e);


    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.character-box h4{
    color:#fff;
    margin-bottom: 2px;
}
.character-box p{
    color: #f5f5ef;
    margin-bottom: 0;
}
.character-box span{
    color:#e74c3c;
}

.artist-info{
    text-align: center;
    position: relative;
    padding: 5px;
    border-bottom: 2px solid #31353e;
    margin-bottom: 15px;
}
.artist-info:before{
    font-family: FontAwesome;
    position: absolute;
    content: "\f0d7";
    font-size: 40px;
    bottom: -38px;
    color: #31353e;
}
.artist-info >img{
    margin-bottom: 8px;
    border-radius: 5px;
}

.artist-movies{
    text-align: center;
}
h4 {
    color: #31353e;
}

.navbar-awesome{
   
    /*background-image: linear-gradient(to bottom ,#31353e, #d4d7dd ,#31353e);*/
    background: #127184

;
}
.inverse-navbar{
    background-image: linear-gradient(to bottom ,#d4d7dd, #31353e ,#d4d7dd);
}
