@mobile: ~"only screen and (max-width: 529px)";
@tablet: ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop: ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl: ~"only screen and (min-width: 1129px)";

.ask-login {
  color: #31353e;
  margin-bottom: 0;
}

.trapezoid {
  border-bottom: 40px solid #31353e;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  width: 240px;
  position: relative;
  margin: 0 auto;
  font-size: 20px;
  line-height: 40px;

}

.movie-character {
  margin-bottom: 15px;
  h4 {
    text-transform: none;
    font-weight: 600;
    color: #31353e;
    margin-bottom: 0;
  }
  h5 {
    color: #31353e;
  }
  p {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 13px;
  }

}

.recommended-box {
  margin-top: 40px;

  .rec-heading {
    font-size: 20px;
    text-transform: uppercase;
    border-left: 2px solid #31353e;
    background: #fff;
    padding: 5px 15px;
    margin-bottom: 20px;
  }

  .rec-item {
    border-bottom: 1px solid #31353e;
    margin-bottom: 7px;
    padding: 10px 15px;
    background-color: #fff;
  }

  .rec-info {
    margin-left: -10px;

    h5 {
      margin-bottom: 5px;
    }
  }
}

.btn-facebook {
  background-color: #3b5998;
  border-bottom: 1px solid #3b5998;
  color: #fff;
  padding: 4px 15px;
  &:hover {
    color: #fff;
    background-color: #29487d;
    border-bottom: 1px solid #29487d;
  }
  &:focus {
    color: #fff;
    background-color: #29487d;
    border-bottom: 1px solid #29487d;
  }
  &:active {
    color: #fff;
    background-color: #29487d;
    border-bottom: 1px solid #29487d;
  }
}

.my-rates-nav {
  width: 100%;
  display: table;
  border-bottom: none;
  li {
    display: table-cell;
    float: none;
    width: auto;
    text-align: center;
    border-bottom: 1px solid #127387;
    a {
      margin-right: 0;
      border-radius: 0;
    }
  }
  li.active {
    border-bottom: 1px solid #fff;

    a {
      border: 1px solid #127387;
      border-bottom-color: transparent;
      color: goldenrod;
      &:focus {
        border: 1px solid #127387;
        border-bottom-color: transparent;
        color: goldenrod;
      }
      &:hover {
        border: 1px solid #127387;
        border-bottom-color: transparent;
        color: goldenrod;
      }
      &:active {
        border: 1px solid #127387;
        border-bottom-color: transparent;
        color: goldenrod;
      }
    }
  }
}

.user-box {
  width: 20px;
  height: 20px;
  position: relative;
  &:before {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    color: #cccccc;
    font-size: 16px;
    position: absolute;
    top: 3px;
    right: -14px;
  }
}

.rated-box {
  padding: 30px;
  border: 1px solid #127387;
  border-top: none;

  .rated-items {

    h4 {
      color: #127387;
    }
  }
}

@media @desktop-xl {

  .btn-fixed-size {
    width: 160px;
  }

  .header-search-box {
    margin-top: -6px;
    margin-right: 15px;
    input.form-control {
      height: 30px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border: 1px solid #ccc;
      border-right: 1px solid transparent;
      &:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
      }
    }
    button.btn {
      padding: 4px 10px;
      margin-left: -6px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      color: #127387;
      border: 1px solid #ccc;
    }
  }

  .btn-facebook {
    margin-top: -9px;
  }

  .artist-movies {
    max-height: 430px;
    overflow-y: scroll;
    .movie-item {
      background-color: #fff;
      padding: 5px;
      border-bottom: 1px solid #313131;
      margin-bottom: 10px;

      h5 {
        color: #313131;
        font-weight: 600;
        margin-bottom: 0;
      }
      i {
        font-size: 13px;
      }
    }

  }

  .lazy-load-box {
    min-height: 500px;
    padding-top: 220px;
    text-align: center;
  }

  .lazy-load-box-s {
    min-height: 300px;
    padding-top: 120px;
    text-align: center;
  }

  .artist-info {
    text-align: center;
    position: relative;
    padding: 5px;
    border-bottom: 2px solid #31353e;
    margin-bottom: 15px;
  }

  .artist-info:before {
    font-family: FontAwesome;
    position: absolute;
    content: "\f0d7";
    font-size: 40px;
    bottom: -38px;
    color: #31353e;
  }

  .artist-info > img {
    margin-bottom: 8px;
    border-radius: 5px;
  }

  .artist-movies {
    text-align: center;
  }

  .star-rating {
    font-size: 16px;

  }

  .rate-avg {
    font-size: 16px;
    margin-right: 10px;
    i.fa {
      color: goldenrod;
    }

  }

  .character-view-wrapper {
    border: 1px solid #127387;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 13px 5px -2px rgba(18, 115, 135, 0.62);
    -moz-box-shadow: 0 13px 5px -2px rgba(18, 115, 135, 0.62);
    box-shadow: 0 13px 5px -2px rgba(18, 115, 135, 0.62);

    ul.rating {
      margin-right: -15px;
      margin-left: -15px;
    }
  }

  .character-info {
    padding: 16px 0;

    .info-heading {
      border-bottom: 1px solid #127387;
    }

    .info-body {
      padding-top: 15px;
      .rate-lg {
        font-size: 50px;
      }
    }
  }

  .character-view {
    background-color: #127387;
    padding: 25px 10px;
    position: relative;
  }

  .character-view:before {
    content: "\f0da";
    position: absolute;
    font-family: FontAwesome;
    font-size: 70px;
    color: #127387;
    right: -22px;
    top: 0;
  }
}

@media  @tablet {

  .pt-sm-6 {
    padding-top: 6px;
  }

  .pt-sm-5 {
    padding-top: 5px;
  }

  .pt-sm-4 {
    padding-top: 4px;
  }

  .pt-sm-3 {
    padding-top: 3px;
  }

  .pt-sm-2 {
    padding-top: 2px;
  }

  .pt-sm-1 {
    padding-top: 1px;
  }

  .pt-sm-0 {
    padding-top: 0;
  }

  //end padding top
  //********************************************************
  //padding bottom
  .pb-sm-6 {
    padding-bottom: 6px;
  }

  .pb-sm-5 {
    padding-bottom: 5px;
  }

  .pb-sm-4 {
    padding-bottom: 4px;
  }

  .pb-sm-3 {
    padding-bottom: 3px;
  }

  .pb-sm-2 {
    padding-bottom: 2px;
  }

  .pb-sm-1 {
    padding-bottom: 1px;
  }

  .pb-sm-0 {
    padding-bottom: 0;
  }

  //end padding bottom
  //********************************************************
  //padding left
  .pl-sm-6 {
    padding-left: 6px;
  }

  .pl-sm-5 {
    padding-left: 5px;
  }

  .pl-sm-4 {
    padding-left: 4px;
  }

  .pl-sm-3 {
    padding-left: 3px;
  }

  .pl-sm-2 {
    padding-left: 2px;
  }

  .pl-sm-1 {
    padding-left: 1px;
  }

  .pl-sm-0 {
    padding-left: 0;
  }

  //end padding left
  //********************************************************
  //padding right
  .pr-sm-6 {
    padding-right: 6px;
  }

  .pr-sm-5 {
    padding-right: 5px;
  }

  .pr-sm-4 {
    padding-right: 4px;
  }

  .pr-sm-3 {
    padding-right: 3px;
  }

  .pr-sm-2 {
    padding-right: 2px;
  }

  .pr-sm-1 {
    padding-right: 1px;
  }

  .pr-sm-0 {
    padding-right: 0;
  }

  //End padding right
  //**********************************************************
  //margins
  .mt-sm-6 {
    margin-top: 6px;
  }

  .mt-sm-5 {
    margin-top: 5px;
  }

  .mt-sm-4 {
    margin-top: 4px;
  }

  .mt-sm-3 {
    margin-top: 3px;
  }

  .mt-sm-2 {
    margin-top: 2px;
  }

  .mt-sm-1 {
    margin-top: 1px;
  }

  .mt-sm-0 {
    margin-top: 0;
  }

  //end padding top
  //********************************************************
  //padding bottom
  .mb-sm-15 {
    margin-bottom: 15px;
  }

  .mb-sm-10 {
    margin-bottom: 10px;
  }

  .mb-sm-6 {
    margin-bottom: 6px;
  }

  .mb-sm-5 {
    margin-bottom: 5px;
  }

  .mb-sm-4 {
    margin-bottom: 4px;
  }

  .mb-sm-3 {
    margin-bottom: 3px;
  }

  .mb-sm-2 {
    margin-bottom: 2px;
  }

  .mb-sm-1 {
    margin-bottom: 1px;
  }

  .mb-sm-0 {
    margin-bottom: 0;
  }

  //end padding bottom
  //********************************************************
  //padding left
  .ml-sm-6 {
    margin-left: 6px;
  }

  .ml-sm-5 {
    margin-left: 5px;
  }

  .ml-sm-4 {
    margin-left: 4px;
  }

  .ml-sm-3 {
    margin-left: 3px;
  }

  .ml-sm-2 {
    margin-left: 2px;
  }

  .ml-sm-1 {
    margin-left: 1px;
  }

  .ml-sm-0 {
    margin-left: 0;
  }

  //end padding left
  //********************************************************
  //padding right
  .mr-sm-6 {
    margin-right: 6px;
  }

  .mr-sm-5 {
    margin-right: 5px;
  }

  .mr-sm-4 {
    margin-right: 4px;
  }

  .mr-sm-3 {
    margin-right: 3px;
  }

  .mr-sm-2 {
    margin-right: 2px;
  }

  .mr-sm-1 {
    margin-right: 1px;
  }

  .mr-sm-0 {
    margin-right: 0;
  }

  .btn-fixed-size {
    width: 140px;
  }

  .pl-sm-5 {
    padding-left: 5px;
  }

  .pr-sm-5 {
    padding-right: 5px;
  }

  .pl-sm-10 {
    padding-left: 10px;
  }

  .pr-sm-10 {
    padding-right: 10px;
  }

  .sm-header-search-box{
    position: absolute;
    right: 60px;
    top: 15px;

    input.form-control {
      height: 28px;
      padding: 4px 8px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border: 1px solid #ccc;
      border-right: 1px solid transparent;
      &:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
      }
    }
    button.btn {
      padding: 3px 10px;
      margin-left: -6px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      color: #127387;
      border: 1px solid #ccc;
    }
  }

  .artist-movies {
    max-height: 430px;
    overflow-y: scroll;
    .movie-item {
      background-color: #fff;
      padding: 5px;
      border-bottom: 1px solid #313131;
      margin-bottom: 10px;

      h5 {
        color: #313131;
        font-weight: 600;
        margin-bottom: 0;
      }
      i {
        font-size: 13px;
      }
    }

  }

  .artist-info {
    text-align: center;
    position: relative;
    padding: 5px;
    border-bottom: 2px solid #31353e;
    margin-bottom: 15px;
  }

  .artist-info:before {
    font-family: FontAwesome;
    position: absolute;
    content: "\f0d7";
    font-size: 40px;
    bottom: -38px;
    color: #31353e;
  }

  .rating {
    margin-right: 5px !important;
    margin-left: -10px !important;
    display: block;
  }

  .rating li {

    font-size: 15px !important;
    padding: 2px !important;
  }

  .star-rating {
    font-size: 15px;

  }

  .rate-avg {
    font-size: 15px;
    margin-right: 10px;
    i.fa {
      color: goldenrod;
    }

  }

  .character-view-wrapper {
    border: 1px solid #127387;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 13px 5px -2px rgba(18, 115, 135, 0.62);
    -moz-box-shadow: 0 13px 5px -2px rgba(18, 115, 135, 0.62);
    box-shadow: 0 13px 5px -2px rgba(18, 115, 135, 0.62);

    ul.rating {
      margin-right: -15px;
      margin-left: -15px;

      li {
        font-size: 15px !important;
        padding: 1px !important;
      }
    }
  }

  .lazy-load-box {
    min-height: 500px;
    padding-top: 220px;
    text-align: center;
  }

  .lazy-load-box-s {
    min-height: 300px;
    padding-top: 120px;
    text-align: center;
  }

  .character-info {
    padding: 16px 0;

    .info-heading {
      border-bottom: 1px solid #127387;
    }

    .info-body {
      padding-top: 15px;
      .rate-lg {
        font-size: 50px;
      }
    }
  }

  .trapezoid {
    margin-bottom: -1px;
  }

  .character-view {
    background-color: #127387;
    padding: 15px 15px;
    position: relative;
  }

  .character-view:before {
    content: "\f0da";
    position: absolute;
    font-family: FontAwesome;
    font-size: 70px;
    color: #127387;
    right: -22px;
    top: 0;
  }
}

@media @mobile{

  //padding top
  .pt-xs-6 {
    padding-top: 6px;
  }

  .pt-xs-5 {
    padding-top: 5px;
  }

  .pt-xs-4 {
    padding-top: 4px;
  }

  .pt-xs-3 {
    padding-top: 3px;
  }

  .pt-xs-2 {
    padding-top: 2px;
  }

  .pt-xs-1 {
    padding-top: 1px;
  }

  .pt-xs-0 {
    padding-top: 0;
  }

  //end padding top
  //********************************************************
  //padding bottom
  .pb-xs-6 {
    padding-bottom: 6px;
  }

  .pb-xs-5 {
    padding-bottom: 5px;
  }

  .pb-xs-4 {
    padding-bottom: 4px;
  }

  .pb-xs-3 {
    padding-bottom: 3px;
  }

  .pb-xs-2 {
    padding-bottom: 2px;
  }

  .pb-xs-1 {
    padding-bottom: 1px;
  }

  .pb-xs-0 {
    padding-bottom: 0;
  }

  //end padding bottom
  //********************************************************
  //padding left
  .pl-xs-6 {
    padding-left: 6px;
  }

  .pl-xs-5 {
    padding-left: 5px;
  }

  .pl-xs-4 {
    padding-left: 4px;
  }

  .pl-xs-3 {
    padding-left: 3px;
  }

  .pl-xs-2 {
    padding-left: 2px;
  }

  .pl-xs-1 {
    padding-left: 1px;
  }

  .pl-xs-0 {
    padding-left: 0;
  }

  //end padding left
  //********************************************************
  //padding right
  .pr-xs-6 {
    padding-right: 6px;
  }

  .pr-xs-5 {
    padding-right: 5px;
  }

  .pr-xs-4 {
    padding-right: 4px;
  }

  .pr-xs-3 {
    padding-right: 3px;
  }

  .pr-xs-2 {
    padding-right: 2px;
  }

  .pr-xs-1 {
    padding-right: 1px;
  }

  .pr-xs-0 {
    padding-right: 0;
  }

  //End padding right
  //**********************************************************
  //margins
  .mt-xs-6 {
    margin-top: 6px;
  }

  .mt-xs-5 {
    margin-top: 5px;
  }

  .mt-xs-4 {
    margin-top: 4px;
  }

  .mt-xs-3 {
    margin-top: 3px;
  }

  .mt-xs-2 {
    margin-top: 2px;
  }

  .mt-xs-1 {
    margin-top: 1px;
  }

  .mt-xs-0 {
    margin-top: 0;
  }

  //end padding top
  //********************************************************
  //padding bottom
  .mb-xs-15 {
    margin-bottom: 15px;
  }

  .mb-xs-10 {
    margin-bottom: 10px;
  }

  .mb-xs-6 {
    margin-bottom: 6px;
  }

  .mb-xs-5 {
    margin-bottom: 5px;
  }

  .mb-xs-4 {
    margin-bottom: 4px;
  }

  .mb-xs-3 {
    margin-bottom: 3px;
  }

  .mb-xs-2 {
    margin-bottom: 2px;
  }

  .mb-xs-1 {
    margin-bottom: 1px;
  }

  .mb-xs-0 {
    margin-bottom: 0;
  }

  //end padding bottom
  //********************************************************
  //padding left
  .ml-xs-6 {
    margin-left: 6px;
  }

  .ml-xs-5 {
    margin-left: 5px;
  }

  .ml-xs-4 {
    margin-left: 4px;
  }

  .ml-xs-3 {
    margin-left: 3px;
  }

  .ml-xs-2 {
    margin-left: 2px;
  }

  .ml-xs-1 {
    margin-left: 1px;
  }

  .ml-xs-0 {
    margin-left: 0;
  }

  //end padding left
  //********************************************************
  //padding right
  .mr-xs-6 {
    margin-right: 6px;
  }

  .mr-xs-5 {
    margin-right: 5px;
  }

  .mr-xs-4 {
    margin-right: 4px;
  }

  .mr-xs-3 {
    margin-right: 3px;
  }

  .mr-xs-2 {
    margin-right: 2px;
  }

  .mr-xs-1 {
    margin-right: 1px;
  }

  .mr-xs-0 {
    margin-right: 0;
  }

  .btn-fixed-size {
    width: 100px;
  }

  .header-search-box{

    input.form-control {
      height: 28px;
      padding: 3px 8px;
      border-top-right-radius: 0;
      width: 200px;
      display:inline-block;
      border-bottom-right-radius: 0;
      border: 1px solid #ccc;
      border-right: 1px solid transparent;
      &:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
      }
    }
    button.btn {
      padding: 3px 10px;
      margin-top: -3px;
      margin-left: -6px;
      border-top-left-radius: 0;
      display: inline-block;
      border-bottom-left-radius: 0;
      color: #127387;
      border: 1px solid #ccc;
    }
  }

  //End padding right
  //**********************************************************
  h4 {
    line-height: 20px;
    font-size: 17px;
  }

  h5 {
    line-height: 13px;
  }

  .trapezoid {
    margin-bottom: -1px;
  }

  .movie-toggle {
    margin-top: 0;
    margin-right: 0;
  }

  .movie-character {
    margin-bottom: 15px;

    p {
      margin-top: 5px;
      font-size: 12px;
    }

  }

  h2.g-heading {
    font-size: 25px !important;
    font-weight: 600 !important;
    margin: 0 0 20px !important;
  }

  .rating {
    display: block;
    margin-right: -5px !important;
    margin-left: -15px !important;
    padding: 0 2px !important;
  }

  .rating li {

    font-size: 14px !important;
    padding: 2px !important;
  }

  .star-rating {
    font-size: 15px;

  }

  .rate-avg {
    font-size: 14px;
    margin-right: 8px;
    i.fa {
      color: goldenrod;
    }
  }

  .character-view-wrapper {
    border: 1px solid #127387;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 13px 5px -2px rgba(18, 115, 135, 0.62);
    -moz-box-shadow: 0 13px 5px -2px rgba(18, 115, 135, 0.62);
    box-shadow: 0 13px 5px -2px rgba(18, 115, 135, 0.62);

    ul.rating {
      margin-right: -15px;
      margin-left: 0 !important;

      li {
        font-size: 15px !important;
        padding: 1px !important;
      }
    }
  }

  .character-info {
    padding: 16px 0;

    .info-heading {
      border-bottom: 1px solid #127387;
      text-align: center;
    }

    .info-body {
      padding-top: 15px;
      text-align: center;
      .rate-lg {
        font-size: 40px;
      }

      h4 {
        line-height: 15px;
        font-size: 15px;
      }
      p {
        font-size: 12px;
      }

      p.fs-20 {
        font-size: 16px;
      }
    }
  }

  .navbar-nav {
    .open {
      .dropdown-menu {
        padding: 0;
        margin-left: -10px;
      }
    }
  }

  .lazy-load-box {
    min-height: 300px;
    padding-top: 110px;
    text-align: center;
  }

  .lazy-load-box-s {
    min-height: 200px;
    padding-top: 80px;
    text-align: center;
  }

  .character-view {
    background-color: #127387;
    padding: 15px 15px;
    position: relative;
    text-align: center;
  }

  .character-view:before {
    content: "\f0d7";
    position: absolute;
    font-family: FontAwesome;
    font-size: 60px;
    color: #127387;
    bottom: -55px;
  }

  .artist-info {
    text-align: center;
    position: relative;
    padding: 5px;
    //border-bottom: 2px solid #31353e;
    margin-bottom: 15px;
    img {
      margin-bottom: 8px;
      border-radius: 5px;
    }
    h4 {
      font-size: 15px;
      margin-top: 0;
    }
  }

  .artist-movies {
    text-align: center;
  }
}