<div class="text-center  pt-85 pb-100">
    <input type="hidden" ng-value="authState =isAuthenticated()">
    <div class="container-fluid">
        <h2 class="g-heading" data-ng-bind-html="pageHeader"></h2>

        <div ng-hide="contentLoaded" class="lazy-load-box">
            <i class="fa fa-spin fa-cog fa-5x"></i>
        </div>


        <div class="container" ng-show="contentLoaded">

            <div class="row">
                <div class="col-md-2 form-group">
                    <div class="row">

                        <div class="col-md-12 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <button class="btn btn-primary btn-fixed-size" type="button"
                                        ng-click="getAll()">
                                    Get All
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <mc-dropdown on-change="setModel(param)" items-list="artists" key="playedBy" term="_id"
                                             label="Artist"></mc-dropdown>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-3 col-xs-6">
                            <div class="form-group ">
                                <mc-dropdown on-change="setModel(param)" items-list="years" key="movies.year" term="_id"
                                             label="Year"></mc-dropdown>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <mc-dropdown on-change="setModel(param)" items-list="movies" key="movies.name" term="_id"
                                             label="Movie"></mc-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 pr-xs-0 pl-xs-0" id="list">
                    <div class="row form-group" ng-repeat="row in listCharacters">
                        <div class="col-md-6 col-sm-6" ng-repeat="character in row track by character._id">
                            <character model="character"></character>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div paging ng-if="count>10"
                             page="model.page"
                             paging-action="pagingChange(params)"
                             page-size="10"
                             total="count">
                        </div>
                    </div>
                    <div ng-show="notFoundForTerm" class="text-center">
                        <div class="alert alert-warning fade in alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">x</a>
                            <strong>0 results</strong> for <span ng-bind="filteredBy.value"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>