<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery" ng-app="iMovieUi">
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=175488799579769";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<main class="wrapper">
    <header>
        <% include partials/header.ejs %>
    </header>


    <div class="container mt-100 mb-50" ng-controller="ComicsCharacterCtrl">

        <input type="hidden" ng-value="isAuthProp =isAuthenticated()">

        <div ng-hide="contentLoaded" class="lazy-load-box">
            <i class="fa fa-spin fa-cog fa-5x"></i>
        </div>
        <div class="row mb-25" ng-show="contentLoaded">
            <div class="col-md-3 ">
                <div class="row">
                    <div class="col-md-12 col-sm-7">
                        <div class="character-box">
                            <img ng-src="{{character.imgUrl}}" class="img-responsive img-center"/>

                            <div class="character-info">
                                <div class="info">
                                    <h4><span ng-bind="character.name"></span>
                                        <small style="color: #fff">/ <span ng-bind="character.type"></span></small>
                                    </h4>
                                    <p ng-bind="character.description"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row ">
                    <div class="col-md-3 col-sm-3 col-xs-6 pl-sm-10 pr-sm-10 pr-xs-5 pl-xs-5 mb-xs-3" ng-repeat="artist in character.actors track by $index">
                        <div class="artist-info">
                            <div class="artist-image-wrapper">
                                <img ng-src="{{artist.imgUrl}}" class="img-responsive img-center noselect"/>
                                <span ng-hide="voteStart" class="vote-box"
                                      ng-class="{'in-progress': (voteStart && current ==$index)}"
                                      ng-click="rate(artist._id, $index)">
                                    <span ng-show="artist.votedByUser"><i class="fa fa-check"></i>  Voted</span>
                                    <span ng-hide="artist.votedByUser"><i
                                                class="fa fa-chevron-circle-up"></i>  Vote</span>

                                </span>
                                <span ng-show="voteStart" class="vote-box" ng-class="{'in-progress': voteStart}"
                                      ng-click="rate(artist._id)"><i class="fa fa-spin fa-spinner"></i> </span>
                            </div>
                            <h4 style="margin-bottom: 0"><span ng-bind="artist.firstName"></span> <span
                                        ng-bind="artist.lastName"></span></h4>

                            <strong ng-bind="artist.votesCount"></strong> users vote
                            <button type="button"
                                    class="btn btn-block navbar-toggle movie-toggle collapsed hidden-lg hidden-md hidden-sm"
                                    data-toggle="collapse" data-target="#movies-toggle-{{$index}}"
                                    aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <i class="fa fa-sliders"></i>&nbsp; Show Movies
                            </button>
                        </div>
                        <div class="artist-movies">
                            <div class="collapse navbar-collapse" id="movies-toggle-{{$index}}">
                                <div ng-repeat="movie in artist.movies track by $index" class="movie-item text-center">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1">
                                            <img ng-src="{{movie.posterUrl}}" class="img-responsive">
                                        </div>
                                    </div>
                                    <h5 ng-bind="movie.name">
                                        <small>(<span ng-bind="movie.year"></span>)</small>
                                    </h5>
                                    <i>iMDb Rating (<strong><span ng-bind="movie.IMDbRating"></span>/10</strong>) </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group bg-color-white pl-30">
                    <div class="fb-comments" data-href="{{dataHref}}" data-numposts="5"></div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include partials/footer.ejs %>
    </footer>

    <% include partials/scripts.ejs %>
    <script>
        $(function () {
            App.init();
        });
    </script>
</main>
</body>
</html>