<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery" ng-app="iMovieUi">
<main class="wrapper" ng-controller="HomeCtrl">
    <header>
        <% include partials/header.ejs %>
    </header>
    <div class="our-tours text-center g-heading-v8 g-pt-85 g-pb-100">
        <div class="container-fluid">
            <carousel interval="myInterval">
                <slide ng-repeat="item in comicsCharacters" active="slide.active" class="slider-item comics-character-{{item.name}}">
                    <img ng-src="{{item.imgUrl}}" >

                    <div class="info-container">
                        <h2>{{item.name}}</h2>
                        <p>{{item.description}}</p>
                    </div>
                    <div class="carousel-caption">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                </slide>
            </carousel>

        </div>
    </div>

    <div class="our-tours text-center g-heading-v8 g-pt-85 g-pb-100" >
        <h2 class="h2"> <strong>Most popular movie</strong> Characters</h2>
        <div class="container">
         <div class="row" ng-repeat="row in movieCharacters">
             <div class="col-md-6" ng-repeat="item in row track by item._id" style="min-height: 100px;margin-bottom: 15px;">
                    <character model="item"></character>
             </div>
         </div>


            <div class="text-left">
                <a href="/most-popular-movie-characters/" class="btn btn-lg btn-primary">
                    See More Movie Characters
                </a>
            </div>

        </div>

    </div>





    <footer>
        <% include partials/footer.ejs %>
    </footer>


    <% include partials/scripts.ejs %>


    <script>
        $(function () {
            App.init();
        });
    </script>

</main>
</body>
</html>