<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
<main class="wrapper">
    <header>
        <% include partials/header.ejs %>
    </header>
    <div class="our-tours text-center g-heading-v8 g-pt-85 g-pb-100" id="Our-Tours">
        <div class="container-fluid">
            <h2 class="h2"><em class="block-name">Our Tours</em><br> <strong>We can</strong> offer</h2>
            <div class="our-tours-list-wrapper">
                <div class="our-tours-list text-left">
                    <!-- Batman  -->
                    <div class="our-tours-list-item">
                        <div class="img-wrapper img-wrapper--shadow">
                            <img src="/img/batman.jpg" alt="BatMan" class="img-reposnsive">
                        </div>
                        <h3>Batman</h3>
                        <ul class="list-inline star-vote">
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star-half-o"></i></li>
                            <li><i class="g-color-default fa fa-star-o"></i></li>
                            <li><i class="g-color-default fa fa-star-o"></i></li>
                        </ul>
                        <p>dapibus quis sapien id phar etra iaculis est</p>
                        <div class="our-tours-price">$350.00</div>
                        <a href="#" class="our-tours-list-item__more">More</a>
                    </div>
                    <!-- End batman -->

                    <!-- Joker -->
                    <div class="our-tours-list-item">
                        <div class="img-wrapper img-wrapper--shadow">
                            <img src="/img/joker.jpg" alt="Joker" class="img-reposnsive">
                        </div>
                        <h3>Joker</h3>
                        <ul class="list-inline star-vote">
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star-o"></i></li>
                            <li><i class="g-color-default fa fa-star-o"></i></li>
                        </ul>
                        <p>dapibus quis sapien id phar etra iaculis est</p>
                        <div class="our-tours-price">$350.00</div>
                        <a href="#" class="our-tours-list-item__more">More</a>
                    </div>
                    <!-- End Joker -->

                    <!-- Spiderman -->
                    <div class="our-tours-list-item">
                        <div class="img-wrapper img-wrapper--shadow">
                            <img src="/img/spiderman.jpg" alt="Spiderman" class="img-reposnsive">
                        </div>
                        <h3>Spiderman</h3>
                        <ul class="list-inline star-vote">
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star"></i></li>
                        </ul>
                        <p>dapibus quis sapien id phar etra iaculis est</p>
                        <div class="our-tours-price">$350.00</div>
                        <a href="#" class="our-tours-list-item__more">More</a>
                    </div>
                    <!-- End Spiderman -->

                    <!-- Superman -->
                    <div class="our-tours-list-item">
                        <div class="img-wrapper img-wrapper--shadow">
                            <img src="/img/superman.jpg" alt="Superman" class="img-reposnsive"></div>
                        <h3>Superman</h3>
                        <ul class="list-inline star-vote">
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star"></i></li>
                            <li><i class="g-color-default fa fa-star-half-o"></i></li>
                            <li><i class="g-color-default fa fa-star-o"></i></li>
                        </ul>
                        <p>dapibus quis sapien id phar etra iaculis est</p>
                        <div class="our-tours-price">$350.00</div>
                        <a href="#" class="our-tours-list-item__more">More</a>
                    </div>
                    <!-- End Superman-->


                </div>
            </div>
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

    <% include partials/scripts.ejs %>
</main>
</body>
</html>