<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=175488799579769";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<main class="wrapper" ng-app="iMovieUi">
    <header>
        <% include partials/header.ejs %>
    </header>

    <input type="hidden" ng-value="authProp =isAuthenticated()"/>


    <div class="container pt-85 pb-100" ng-controller="MovieCharacterCtrl">
        <div ng-hide="contentLoaded" class="lazy-load-box">
            <i class="fa fa-spin fa-cog fa-5x"></i>
        </div>
        <div class="row" ng-show="contentLoaded">
            <div class="col-md-9" >
                <h2 class="g-heading"><strong ng-bind="character.name"></strong>
                    <small>by</small>
                    <span ng-bind="character.playedBy"></span>
                </h2>
                <div class="character-view-wrapper">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="character-view">
                                <img ng-src="{{character.imgUrl}}" class="img-responsive img-center rnd-8"/>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="character-info">
                                <div class="info-heading">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-5 col-xs-6">
                                            <h4><strong>Rate</strong></h4>
                                        </div>
                                        <div class="col-md-8 col-sm-7 col-xs-6">
                                            <h4><strong>Movie</strong></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-body">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-5 col-xs-6">
                                            <p class="rate-lg gold"><span ng-bind="rateAverage"></span> <i
                                                        class="fa fa-star"></i></p>

                                            <p class="fs-20"><span ng-bind="character.rates.length"></span> users rate
                                            </p>
                                            <span ng-hide="avgUpdate">
                                                <star-rating class="star-rating" rating-value="rateValue"
                                                             data-max="10"
                                                             user-rate="userRate"
                                                             on-rating-selected="rateFunction(rating)">
                                                </star-rating>
                                           </span>
                                            <i ng-show="avgUpdate" class="fa fa-spin fa-spinner" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-8 col-sm-7 col-xs-6">

                                            <div class="row">
                                                <div class="col-md-5 col-sm-5 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1">
                                                    <img ng-src="{{character.movies[0].poster}}"
                                                         class="img-responsive img-center">
                                                </div>
                                                <div class="col-md-7 pl-0 col-sm-7">

                                                    <h4><span ng-bind="character.movies[0].name"></span>
                                                        <small>
                                                            (<span ng-bind="character.movies[0].year"></span>)
                                                        </small>
                                                    </h4>
                                                    <p class="mt-xs-0 mb-xs-0">iMDb Rating
                                                        (<strong><span ng-bind="character.movies[0].IMDbRating"></span>/10</strong>)
                                                    </p>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

                <div class="form-group bg-color-white pl-30">
                    <div class="fb-comments" data-href="{{dataHref}}" data-numposts="5"></div>
                </div>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="recommended-box">
                    <div class="rec-heading">
                        recommended
                    </div>
                    <div ng-repeat="item in recommended track by $index">
                        <div class="rec-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <a ng-href="{{item.name}}">
                                        <img ng-src="{{item.imgUrl}}" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="rec-info">
                                        <h5 ng-bind="item.movies[0].name"></h5>
                                        <h5 ng-bind="item.movies[0].year"></h5>
                                    </div>
                                </div>
                            </div>
                            <h5>
                                <a ng-href="{{item.name}}">
                                   <span ng-bind="item.name"></span>
                                    <small>by</small>
                                    <span ng-bind="item.playedBy"></span>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

    <% include partials/scripts.ejs %>
    <script>
        $(function () {
            App.init();
        });
    </script>
</main>
</body>
</html>