<!DOCTYPE html>
<html lang="en">
<head>
    <title>iMovieUi: List of most popular movie characters</title>
    <meta name="keyword" content="rate movie character, top movie characters, popular movie characters, greatest movie characters">
    <meta name="description" content="Rate for the most popular movie characters,  top movie characters, greatest movie characters">
    <% include partials/head.ejs %>

</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery" ng-app="iMovieUi">
<main class="wrapper" ng-controller="MovieCharactersListCtrl">
    <header>
        <% include partials/header.ejs %>
    </header>

    <input type="hidden" ng-value="isAuthProp =isAuthenticated()"/>

    <div class="text-center  pt-85 pb-100">
        <div class="container-fluid">
            <h2 class="g-heading"> Most Popular movie <strong> characters</strong></h2>

            <div ng-hide="contentLoaded" class="lazy-load-box">
                <i class="fa fa-spin fa-cog fa-5x"></i>
            </div>


            <div class="container" ng-show="contentLoaded">
                <div class="row form-group">
                    <div class="col-md-6">
                        <div ng-show="filteredBy" class="alert alert-info fade in alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">x</a>
                            <span ng-bind="filteredBy.key"></span> : <strong ng-bind="filteredBy.value"></strong>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2 form-group">
                        <div class="row">

                            <div class="col-md-12 col-sm-3 col-xs-6">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-fixed-size" type="button"
                                            ng-click="getAll()">
                                        Get All
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-3 col-xs-6">
                                <div class="form-group">
                                    <mc-dropdown items-list="artists" model="artist" term="_id"
                                                 label="Artist"></mc-dropdown>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-3 col-xs-6">
                                <div class="form-group ">
                                    <mc-dropdown items-list="years" model="year" term="_id"
                                                 label="Year"></mc-dropdown>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-3 col-xs-6">
                                <div class="form-group">
                                    <mc-dropdown items-list="movies" model="movie" term="_id"
                                                 label="Movie"></mc-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 pr-xs-0 pl-xs-0">
                        <div class="row form-group" ng-repeat="row in listCharacters">
                            <div class="col-md-6 col-sm-6" ng-repeat="character in row track by character._id">
                                <character model="character"></character>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div paging ng-show="count>paging.size"
                                 page="paging.number"
                                 page-size="paging.size"
                                 total="count">
                            </div>
                        </div>
                        <div ng-show="notFoundForTerm" class="text-center">
                            <div class="alert alert-warning fade in alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">x</a>
                                <strong>0 results</strong> for <span ng-bind="filteredBy.value"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
</body>
<footer>
    <% include partials/footer.ejs %>
</footer>
<% include partials/scripts.ejs %>
<script type="text/javascript">
    $(function () {
        App.initHeader();
    });
</script>
</html>