<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rate Most Popular Movie Characters | Rated by me </title>
    <meta name="keyword" content=" rate movie character, played by actors>
    <meta name="description" content="Rate most popular movie character rated by me">
    <% include partials/head.ejs %>

</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery" ng-app="iMovieUi">
<main class="wrapper" ng-controller="UserRatesCtrl">
    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container mt-100 mb-50" ng-controller="UserRatesCtrl">

        <input type="hidden" ng-value="isAuthProp =isAuthenticated()">

            <div class="container">
                <div class="text-center">
                    <h2 class="g-heading">
                        Movie Characters Rated
                        <small>by</small>
                        <strong>Me</strong>
                    </h2>
                </div>


                <div class="text-center">
                    <ul class="nav nav-tabs my-rates-nav">
                        <li ng-repeat="rating in topRatings track by rating._id" ng-class="{'active':isActiveTab(rating._id)}">
                            <a ng-click="getRates(rating._id)" href="#" >
                                <p><strong ng-bind="rating._id"></strong> <i class="fa fa-star"></i>   /<span ng-bind="rating.count"></span></p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="bg-white rated-box">
                    <div ng-hide="contentLoaded" class="lazy-load-box-s">
                        <i class="fa fa-spin fa-cog fa-5x"></i>
                    </div>
                   <div class="rated-items" ng-show="contentLoaded">
                       <div class="row form-group" ng-repeat="row in characters track by $index" >
                           <div class="col-md-3 col-sm-3 text-center mb-xs-15" ng-repeat="character in row track by character._id">
                                 <a ng-href="/movie-character/{{character.name}}">
                                     <img ng-src="{{character.imgUrl}}" class="img-responsive noselect img-center">
                                     <h4 ng-bind="character.name" class="mb-xs-2 mt-xs-3"></h4>
                                 </a>
                               <star-rating class="star-rating" rating-value="rateValue" data-max="10" user-rate="rateValue"
                                            on-rating-selected="rateFunction(rating, character._id)"></star-rating>
                           </div>
                       </div>
                   </div>
                </div>

            </div>


    </div>
    <footer>
        <% include partials/footer.ejs %>
    </footer>

    <% include partials/scripts.ejs %>
    <script>
        $(function () {
            App.initHeader();
        });
    </script>
</main>
</body>
</html>