<input type="hidden" ng-value="authState =isAuthenticated()">
<div class="text-center pt-85">
    <div class="container-fluid">

        <h2 class="g-heading">
            THE MOST PLAYED <strong>COMIC CHARACTERS</strong>
        </h2>

        <h3 class="d-heading">Vote for the Best Comic character actor</h3>

        <div ng-hide="comicCharactersLoaded" class="lazy-load-box">
            <i class="fa fa-spin fa-cog fa-5x"></i>
        </div>
        <div class="comics-characters-list-wrapper" ng-show="comicCharactersLoaded">
            <data-owl-carousel class="comics-character-list text-left">

                <div class="comics-character-list-item" owl-carousel-item ng-repeat="cCharacter in comicCharacters">
                    <div class="img-wrapper img-wrapper--shadow">
                        <img ng-src="{{cCharacter.imgUrl}}" class="img-responsive">
                    </div>
                    <h3 ng-bind="cCharacter.name">
                        <small ng-bind="cCharacter.type"></small>
                    </h3>
                    <p ng-bind="cCharacter.description"></p>

                    <p ng-bind="'Was played by ' +cCharacter.actors.length +' actors'"></p>

                    <div class="btn-see-more">
                        <a ui-sref="comicCharacter({name:cCharacter.name})">See more</a>
                    </div>
                </div>

            </data-owl-carousel>
        </div>

    </div>
</div>

<div class="text-center  pt-85">
    <h2 class="g-heading">Most popular <strong>movie Characters</strong></h2>

    <div ng-hide="movieCharactersLoaded" class="lazy-load-box">
        <i class="fa fa-spin fa-cog fa-5x"></i>
    </div>
    <div class="container" ng-show="movieCharactersLoaded">

        <div class="row" ng-repeat="row in movieCharacters">
            <div class="col-md-6 col-sm-6 form-group" ng-repeat="item in row track by item._id">
                <character model="item"></character>
            </div>
        </div>
        <div class="text-left">
            <a ui-sref="movieCharactersList({page:1})" class="btn btn-lg btn-primary">
                See All Movie Characters
            </a>
        </div>

    </div>

</div>
<div class="text-center  pt-85 pb-100">
    <h2 class="g-heading">Most popular <strong>TV-Series Characters</strong></h2>

    <div ng-hide="tvSeriesCharactersLoaded" class="lazy-load-box">
        <i class="fa fa-spin fa-cog fa-5x"></i>
    </div>
    <div class="container" ng-show="tvSeriesCharactersLoaded">
        <div class="row" ng-repeat="row in tvSeriesCharacters">
            <div class="col-md-6 col-sm-6 form-group" ng-repeat="item in row track by item._id">
                <character model="item"></character>
            </div>
        </div>
        <div class="text-left">
            <a ui-sref="tvSeriesCharactersList({page:1})" class="btn btn-lg btn-primary">
                See All TV-Series Characters
            </a>
        </div>

    </div>

</div>