<div class="footer g-pt-40 g-pb-40">
    <div class="container">
        <div class="g-display-table">
            <div class="g-display-td g-text-middle page-scroll">
                <a href="#body" class="footer-logo">
                    <!--<img src="assets/img/logo-dark.png" alt="ALT">-->
                    Logo
                </a>
            </div>
            <div class="g-display-td g-text-middle text-right g-pt-10">
                &copy; 2016 All right reserved. Comics
            </div>
        </div>
    </div>
</div>