
    <div class="container">
            <div class="text-center center-block">

                <div class="trapezoid">
                    <a class="scroll" href="#">
                        <img src="http://res.cloudinary.com/dk1chsp5h/image/upload/v1480865020/logo_ixv8ki.png" width="150px">
                    </a>
                </div>
            </div>

        </div>
    <div class="social-wrapper">
        <a href="https://www.facebook.com/iMovieUi"><i class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com/iMovieUi"><i class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="https://plus.google.com/iMovieUi"><i class="fa fa-google-plus-square fa-3x social"></i></a>
        <p style="color:#ccc;margin-top: 10px">
            &copy; 2016 All right reserved. iMovieUi
        </p>
    </div>



