<nav class="one-page-header navbar navbar-default navbar-fixed-top one-page-nav-scrolling one-page-nav__fixed" data-role="navigation">
    <div class="container">
        <div class="menu-container page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#body">
                <!--<img src="assets/img/logo-light.png" alt="ALT">-->
                Logo
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="menu-container">
                <ul class="nav navbar-nav">
                    <li class="page-scroll">
                        <a href="#Our-Tours"><span data-hover="Our Tours">Our Tours</span></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Popular-Tours"><span data-hover="Popular Tours">Popular Tours</span></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Subscribe"><span data-hover="Subscribe">Subscribe</span></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Purposes"><span data-hover="Purposes">Purposes</span></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Services"><span data-hover="Services">Services</span></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Gallery"><span data-hover="Gallery">Gallery</span></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Testimonials"><span data-hover="Testimonials">Testimonials</span></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#Contact"><span data-hover="Contact">Contact</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>