<!DOCTYPE html>
<html lang="en">
<head>
    <title>iMovieUi Admin | Create Movie Character</title>
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/lib/cropper/css/cropper.min.css"/>
    <link rel="stylesheet" href="/lib/cropper/css/main.css"/>
</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
<main class="wrapper">
    <header>
        <% include partials/header.ejs %>
    </header>


    <div class="container" style="margin-top: 60px;">
        <div class="jumbotron">
            <% if (locals.errorMessage){ %>
            <div class="text-center">
                <h4 class="text-danger"> <%= errorMessage %> </h4>
            </div>
            <% } %>
            <div class="form-group text-center">
                <h2> Create new Movie Character</h2>
            </div>
            <% var name = locals.name ? locals.name : '' %>
            <% var playedBy = locals.playedBy ? locals.playedBy : '' %>
            <% var movie = locals.movie ? locals.movie : '' %>
            <% var about = locals.about ? locals.about : '' %>
            <form action="/admin/create/character" method="post" id="createCharacter">
                <div class="row form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="name" value="<%= name %>" class="form-control" placeholder="Name"/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="playedBy" value="<%= playedBy %>" class="form-control"
                                   placeholder="Played By"/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="movie" value="<%= movie %>" class="form-control" placeholder="Movie name"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="type">
                                        Type :
                                    </label>
                                </div>
                                <div class="col-md-10">
                                    <select class="form-control" name="type">
                                        <option value="movie">Movie</option>
                                        <option value="tv-series">TV-Series</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="type">
                                        Sex :
                                    </label>
                                </div>
                                <div class="col-md-10">
                                    <select class="form-control" name="sex">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="none">none</option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="form-group">
                            <textarea id="about" name="about"  class="form-control" placeholder="About Character"><%about%></textarea>
                        </div>
                    </div>


                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <div class="image-crop">
                            <img src="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-preview img-preview-sm"></div>
                        <hr>
                        <div class="btn-group">
                            <label title="Upload image file" for="inputImage" class="btn btn-primary">
                                <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                                Upload new image
                            </label>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="imgData" name="imageData"/>

                <div class="form-group text-center">
                    <button style="width: 280px" type="button" id="submitForm" class="btn btn-primary">Submit</button>
                </div>
            </form>

            <canvas id="canvas1" width="170" height="260" style="display:none"></canvas>

        </div>
    </div>

    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/cropper/js/cropper.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            var $image = $(".image-crop > img");
            $($image).cropper({
                aspectRatio: 17 / 26,
                preview: ".img-preview",

            });

            var $inputImage = $("#inputImage");
            if (window.FileReader) {
                $inputImage.change(function () {
                    var fileReader = new FileReader(),
                            files = this.files,
                            file;

                    if (!files.length) {
                        return;
                    }

                    file = files[0];

                    if (/^image\/\w+$/.test(file.type)) {
                        fileReader.readAsDataURL(file);
                        fileReader.onload = function () {
                            $inputImage.val("");
                            $image.cropper("reset", true).cropper("replace", this.result);
                        };
                    } else {
                        alert("Please choose an image file.");
                    }
                });
            } else {
                $inputImage.addClass("hide");
            }
            $('#submitForm').on('click', function () {
                var canvas = document.getElementById('canvas1');
                var ctx = canvas.getContext('2d');
                var img = new Image();
                img.addEventListener('load', function () {
                    ctx.drawImage(this, 0, 0, 170, 260);
                    $('#imgData').val(canvas.toDataURL('image/jpeg'));
                    $('#createCharacter').submit();
                });
                img.src = $image.cropper("getDataURL");

            });
        });


    </script>

</main>


</body>
