<!DOCTYPE html>
<html lang="en" >
<head>
    <title>iMovieUi | Admin</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/admin/custom.css"/>
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
<main class="wrapper">
    <header>
        <% include partials/header.ejs %>
    </header>
<div class="container"  style="margin-top: 200px;">

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
               <div class="nav-wrapper nav-comics">
                   <i class="fa fa-star fa-5x fa-rounded"></i>
                   <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>

                   <a href="/admin/comicsCharacters" class="btn btn-success btn-lg btn-block">
                       Manage Comics Characters
                   </a>
               </div>
            </div>
            <div class="col-md-6">
                <div class="nav-wrapper nav-character">
                    <i class="fa fa-star fa-5x fa-rounded"></i>
                    <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>

                    <a href="/admin/movieCharacters" class="btn btn-success btn-lg btn-block">
                        Manage Movie Characters
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
</main>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>


</body>