<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css"/>
    <style>
        .middle-box {
            max-width: 450px;
            z-index: 100;
            background-color: #e7e7e7;
            margin: 100px auto;
            padding: 50px

        }
    </style>
</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
<main class="wrapper">
    <header>
        <% include partials/header.ejs %>
    </header>
    <div class="container"  style="margin-top: 60px;">
        <div class="middle-box text-center">
           <div class="form-group">
               <h2>Login As Admin</h2>
           </div>
            <% if (locals.errorMessage){ %>
            <div class="text-center">
                <h4 class="text-danger"> <%= errorMessage %> </h4>
            </div>
            <% } %>

            <form method="post" action="/admin/login">

                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Enter You Email">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Enter You Password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Log In
                    </button>
                </div>

            </form>

            <div class="error-desc">
                <h3>Best Regards <strong>iMovieUi</strong></h3>
            </div>
        </div>

    </div>
</main>

</body>