<span ng-show="isAuthenticated() && !rateMode" ng-click="rateMode=true" style="cursor:pointer">
        <span ng-show="userRate"><i style="color:#127387;" class="fa fa-star"></i>  {{userRate}}</span>
        <span ng-hide="userRate"><i style="color:#127387;" class="fa fa-star-o"></i> </span>
    </span>
<span ng-if="!isAuthenticated()" style="cursor:pointer">
    <span ng-click="triggerModal()"> <i class="fa fa-star-o"></i> </span>
</span>

<ul class="rating" ng-show="rateMode">
    <li>
        <i class="fa fa-times-circle-o" ng-click="rateMode=false"></i>
    </li>
    <li ng-repeat="star in stars" ng-class="star" ng-click="toggle($index)">
        <i class="fa fa-star"></i>
    </li>
</ul>

